
/* css */

@font-face {
    font-family: 'alte_haas_groteskbold';
    src: url('https://isawierum.github.io/dig245-a3/alte-haas-grotesk-bold-webfont.woff2') format('woff2'),
         url('https://isawierum.github.io/dig245-a3/alte-haas-grotesk-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{font-family: "alte_haas_groteskbold"}
.container, .container-fluid {background-color: #00acdc;}
.darkblue {color:#313187;}
.green {color:#018a4c;}
.pink {color:#ce0177;}
.yellow {color:#dead16;}
.beige {color:#d8e4d4;}
.black {color:#000b1c;}

h1{font-size:5rem;
  padding-top:300px;
}

h2{
  font-size: 1.5rem;
  padding-top: 40px;
}

.link{
  font-size: 200px
  text-align: center;
  color:#313187;
  padding-bottom: 75 px;
}

.squares{
  z-index: 1;
  position: absolute;
}

.bluecircles {
  z-index: 2;

  position: relative;
  top: 50px;
  left: 50px;
}

.darkbluecircles {
  z-index: 3;
  position: relative;
  bottom:1010px;
  left: 100px;

}

.greencircles {
  z-index: 4;
  position: relative;
  bottom: 1975px;
  left: 250px;
}
