
/* css */
body{font-family: 'alte_haas_groteskbold';}

.page {background-color: #00acdc;}
.darkblue{color:#313187;}
.green {color:#018a4c;}
.pink{color:#ce0177;}
.yellow{color:#dead16;}
.beige{color:#d8e4d4;}
.black{color:#000b1c;}
